{% extends './base.html' %}

{% block title %}
    Add Workout - Fitness Club
{% endblock %}

{% block content %}
    <div class="container mb-3">
        <h1>Add Workout</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.workout_name.label_tag }}
                {{ form.workout_name }}
            </div>
            <div class="form-group">
                {{ form.workout_description.label_tag }}
                {{ form.workout_description }}
            </div>
            <div class="form-group">
                {{ form.category_name.label_tag }}
                {{ form.category_name }}
            </div>
            <div class="form-group">
                {{ form.instructor.label_tag }}
                {{ form.instructor }}
            </div>
            <button type="submit" class="btn btn-primary">Add Workout</button>
            <a href="{% url 'view_workouts' %}" class="btn btn-secondary">View Workouts</a>
        </form>
    </div>
{% endblock %}
