{% extends './base.html' %}

{% block title %}
    Add Instructor - Fitness Club
{% endblock %}

{% block content %}
    <div class="container mb-3">
        <h1 class="mt-5">Add Instructor</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Add Instructor</button>
            <a href="{% url 'view_instructors' %}" class="btn btn-secondary">View Instructors</a>
        </form>
    </div>
{% endblock %}
