{% extends './base.html' %}

{% block title %}
    Edit Workout - Fitness Club
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <h1>Edit Workout</h1>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.workout_name.label_tag }}
                {{ form.workout_name }}
            </div>
            <div class="form-group">
                {{ form.workout_description.label_tag }}
                {{ form.workout_description }}
            </div>
            <div class="form-group">
                {{ form.category_name.label_tag }}
                {{ form.category_name }}
            </div>
            <div class="form-group">
                {{ form.instructor.label_tag }}
                {{ form.instructor }}
            </div>
            <button type="submit" class="btn btn-primary">Update Workout</button>
        </form>
    </div>
{% endblock %}
