{% extends './base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Welcome to the Dashboard, {{ manager_username }}</h1>
    <div class="row mt-3">
        <div class="col-md-3">
            <a href="{% url 'add_instructor' %}" class="btn btn-primary btn-block">Add Instructor</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'add_workout' %}" class="btn btn-primary btn-block">Add Workout</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'add_customer' %}" class="btn btn-primary btn-block">Add Customer</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'add_customer_fitness' %}" class="btn btn-primary btn-block">Add Customer Fitness</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <a href="{% url 'add_customer_fee' %}" class="btn btn-primary btn-block">Add Customer Fee</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'add_instructor_salary' %}" class="btn btn-primary btn-block">Add Instructor Salary</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'view_profit' %}" class="btn btn-primary btn-block">View Profit</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'logout' %}" class="btn btn-primary btn-block">Logout</a>
        </div>
    </div>
</div>
{% endblock %}
